<h1 class="m-5">Welcome, please select your options below</h1>

<div class="m-5">
  <div *ngFor="let field of fields">
    <div class="mb-3">
      <input id="{{field.id}}" class="form-control" placeholder="Enter value" (keydown.control.enter)="submit()" (keyup.enter)="add()" [(ngModel)]="field.value" aria-describedby="random option to fill in">
    </div>
  </div>
  <button class="btn btn-primary m-2" (click)="add()">Add</button>
  <button type="submit" class="btn btn-primary m-2" (click)="submit()">Submit</button>
  <button class="btn btn-primary m-2" (click)="reset()">Reset</button>
</div>

<div *ngIf="result" class="alert alert-info m-5">
  {{result}}
</div>
